@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="wrapper">
    <h1>Welcome to Deckollector</h1>

    <div class="home-create">
        <a asp-area="" asp-page="/Decks/Create" class="custom-link">Create New Deck</a>
    </div>

    <div class="home-articles">
        <a href="https://infinite.tcgplayer.com/article/Top-5-Ravnica-Remastered-Reprints-For-Commander/3b4a5dc8-7071-4df3-88a8-18adf963dd44/" target="_blank">
        <article class="article1">
            <div class="article-title">
                Top 5 Ravnica Remastered Reprints For Commander
            </div>
        </article>
        </a>
        <a href="https://infinite.tcgplayer.com/article/All-Twenty-Five-2023-Commander-Precons-Ranked/275e3100-d2c1-4ced-b657-f02adffdee17/" target="_blank">
        <article class="article2">
                <div class="article-title">
                All Twenty-Five 2023 Commander Precons, Ranked
            </div>
        </article>
        </a>
        <a href="https://infinite.tcgplayer.com/article/The-10-Most-Valuable-MTG-Secret-Lair-Cards-December-2023/4902976a-2cbc-41f1-be61-f087c22c8c7b/" target="_blank">
        <article class="article3">
                <div class="article-title">
                The 10 Most Valuable MTG Secret Lair Cards, December 2023
            </div>
        </article>
        </a>
        <a href="https://infinite.tcgplayer.com/article/How-to-Build-an-Aristocrats-Commander-Deck-In-MTG/631a4935-ecd6-4c6a-ae30-04a38e9db649/" target="_blank">
        <article class="article4">
                <div class="article-title">
                How to Build an Aristocrats Commander Deck In MTG
            </div>
        </article>
        </a>
        <a href="https://infinite.tcgplayer.com/article/Top-10-Most-Expensive-MTG-Cards-in-The-Lost-Caverns-of-Ixalan/9fcd3c28-5b44-4a6d-8ce4-dc0ce8f83546/" target="_blank">
        <article class="article5">
                <div class="article-title">
                Top 10 Most Expensive MTG Cards in The Lost Caverns of Ixalan
            </div>
        </article>
        </a>
        <a href="https://infinite.tcgplayer.com/article/Should-You-Buy-the-Lord-of-the-Rings-Bundle/32c38298-5327-4999-8408-85a45a97008a/" target="_blank">
        <article class="article6">
                <div class="article-title">
                Should You Buy the Lord of the Rings Bundle?
            </div>
        </article>
        </a>
        <a href="https://infinite.tcgplayer.com/article/Everything-We-Know-So-Far-About-MTG-s-Ravnica-Remastered/07f1e509-4d1a-4de4-9531-8df169e2182f/" target="_blank">
        <article class="article7">
                <div class="article-title">
                Everything We Know (So Far) About MTG's Ravnica Remastered
            </div>
        </article>
        </a>
        <a href="https://infinite.tcgplayer.com/article/How-Do-the-December-2023-MTG-Bans-Impact-Commander/1f5aa61b-d2a4-4e57-bd44-f242a85120c9/" target="_blank">
        <article class="article8">
                <div class="article-title">
                    How Do the December 2023 MTG Bans Impact Commander?                
                </div>
        </article>
        </a>
    </div>
</div>
